doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="../assets/images/favicon-32x32.png", type="image/png")
        title Base Apparel coming soon page
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="../css/styles.css")
    body
        main.main
            header.header 
                img(src="../assets/images/logo.svg" alt="base apparel")
            article.article
                h1.article__title
                    span.span 
                        | We're 
                        br
                    |coming 
                    br
                    |soon
                p.article__paragraph Hello fellow shoppers! We're currently building our new fashion store. Add your email below to stay up-to-date with announcements and our launch deals.
                form(action="#").form#form
                    input(type="text" id="email" placeholder="Email Address" aria-label="enter your email").form__input
                    button.form__button(type="submit" name="submit")
                        img(src="../assets/images/icon-arrow.svg" alt="arrow")
        script(src="../js/scripts.js") 